[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"
  NPM_VERSION = "10"
  SKIP_ENV_VALIDATION = "true"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200




