api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true
  file:
    filename: /traefik.yml
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@capitalta.abdev.click
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
